
.logo{
    height: 75px;
    width: 170px;
}
.logo img{
   height: 80%;
   width: 80%;
   padding: 8px;
}
.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
.items ul{
    display: flex;
    margin: 0 30px;
    list-style: none;
}
.items ul li{
    padding: 10px;
    cursor: pointer;
}
.bodyContainer{
    padding: 20px;
}
.restaurantContainer{
    display: flex;
    flex-wrap: wrap;
}
.restuarantCard:hover{
    cursor: pointer;
    background-color: #c7c7c7;
    transition: all ease-in;
    border: 1px solid rgb(32, 28, 28);
}
.restuarantCard{
    width: 200px;
    margin: 5px;
    padding: 5px;
}
.restuarantCard img{
    width: 90%;
}
