
*{
    padding: 0;
    margin: 0;
}
a{
     text-decoration: none;
     color: black;
}
.logo{
    height: 75px;
    width: 170px;
}
.logo img{
   height: 80%;
   width: 80%;
   padding: 8px;
}
.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
.items ul{
    display: flex;
    margin: 0 30px;
    list-style: none;
}
.items ul li{
    padding: 10px;
    cursor: pointer;
}
.cart{
    font-weight: 700;
}
.bodyContainer{
    padding: 20px;
}
.search-filter {
    margin: 10px;
    display: flex;
    align-items: center;
}
.search-btn{
    cursor:pointer;
}
.search-input input{
    outline: none;
    margin: 10px;
}
.filter-btn{
    cursor: pointer;
    margin:10px;
}
.restaurantContainer{
    display: flex;
    flex-wrap: wrap;
}
.restuarantCard:hover{
    cursor: pointer;
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: 0.1s ease-in;
}
.restuarantCard{
    width: 200px !important;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
.restuarantCard img{
    border-radius: 5px;
    width: 100%;
    height: 220px !important;
    border: none !important;
}
.restuarantCard > h3, h4{
    margin : 5px;
}
.promoted{
    background-color:black;
    color: #f0f0f0;
    list-style: none;
    margin: 10px 12px;
    padding: 6px;
    position: absolute;
    z-index: 1;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 15px;
    width: 200px;
    height:270px;
    background-color: #f0f0f0;
}
.count-btn{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.restaurant-details{
    width: 60vw;
    margin: 0 20vw;
}
.restaurant-details  h1{
   margin: 15px 0;
}
.rotate,
.downArrow{
    width:15px;
    height: 15px;
    background-image: url("./src/assests/downArrow.svg");
    transform: rotate(180deg);
    transition: all ease-in 0.3s;
    background-repeat: no-repeat;
}
.rotate{
    transform: rotate(360deg);
}

.restaurant-categories{
    margin: 10px 0;
    padding: 15px;
    border: 1px solid rgb(245, 240, 240);
    box-shadow: 1px 1px 5px #929191;
}
.category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.category-title{
    font-weight: 600;
}
.item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: rgb(226, 224, 224) solid 1px;
}
.item-container:last-child{
    border: none;
}
.item{
    max-width: 35vw;
    overflow-x: hidden;
    padding: 10px 0;
}
.item-description p{
    font-size: smaller;
}
.item-image{
    width: 140px;
    height: 130px;
    margin: 10px 0;
}
.item-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.add-btn button,
.add-remove{
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgb(248, 245, 245);
    border-radius: 5px;
    font-weight: 600;
    color: rgb(27, 166, 114);
    cursor: pointer;
    font-size: 16px;
    transition: ease-in 0.2s;
}
.add-btn button{
    margin: 120px 22px;
    padding: 8px 30px;
}
.add-remove{
    width: 90px;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 23px;
    padding: 6px 0px;
    display: flex;
}
.add-remove button{
    color: rgb(27, 166, 114);
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

/* .add-btn button:hover{
    background-color: rgba(2, 6, 12, 0.15);
} */
.cart-container h1{
    margin: 5px 0px;
}
.cart-container{
    width: 60vw;
    margin: auto 20vw;
}
.empty-cart{
    text-align: center;
}
.clear-cart button{
  background-color: #000000;
  color: #ffffff;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer; 
}
.clear-cart button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.empty-cart *{
  margin-top: 10px;
}
.empty-cart-img img{
    width: 40%;
}
.empty-cart  h2{
    color: rgba(2, 6, 12, .8);
}
.empty-cart  h4{
    color: rgba(2, 6, 12, .6);
}
.restaurants-near-you  button{
   background-color: #ff5200;
   color: white;
   border: none;
   padding: 10px 18px;
   font-weight: 700;
   font-size: 16px;
   cursor: pointer;
}